<div style="font-family: Roboto, sans-serif; text-align: center; padding: 20px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 10px;">

    <header>
        <h1 style="color: #333;">New user message</h1>
        <hr style="border: 1px solid #333;">
    </header>

    <main>
        <div style="margin: 80px 0;">
            <a
                style="display: inline-block; padding: 15px 25px; color: #333; background-color: rgb(240, 240, 240); text-decoration: none; border-radius: 5px; cursor: pointer;"
            >
                Email : {{email}}
            </a><br><br>

            <a
                style="display: inline-block; padding: 15px 25px; color: #333; background-color: rgb(240, 240, 240); text-decoration: none; border-radius: 5px; cursor: pointer;"
            >
                Subject : {{subject}}
            </a><br><br>

            <a
                style="display: inline-block; padding: 15px 25px; color: #333; background-color: rgb(240, 240, 240); text-decoration: none; border-radius: 5px; cursor: pointer;"
            >
                Message : {{message}}
            </a>
        </div>
    </main>

</div>